* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body header {
  background-color: #2C2D2D;
  height: 600px;
}

body header .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body header .cont .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .cont .container .tcar h1 {
  color: white;
  font-weight: bold;
}

body header .cont .container .tcar h3 {
  color: #FBB034;
  margin-top: 10px;
}

body header .cont .container .tcar h5 {
  color: #626467;
  margin-top: 10px;
  margin-bottom: 30px;
}

body header .cont .container .tcar button {
  color: white;
}

body header .cont .container .car1 {
  width: 40%;
}

body header .cont .container .car1 img {
  width: 80%;
}

body main .cont2 {
  background-color: #F3F3F3;
}

body main .cont2 .container .logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
  color: #807A7A;
}

body main .cont2 .container .logo1 img {
  width: 10%;
}

body main .logo2 {
  background-color: #F3F3F3;
  height: auto;
  margin-top: 2rem;
  padding: 30px 0px;
}

body main .logo2 .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .logo2 .container .card {
  border: none;
  text-align: center;
  background-color: #F3F3F3;
}

body main .logo2 .container .card img {
  width: 30%;
  margin-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .logo2 .container .card p:first-of-type {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  body header .cont .container .tcar {
    text-align: center;
  }
  body header .cont .container .car1 {
    width: 100%;
  }
  body main .cont2 .container .logo1 h4 {
    font-size: 1rem;
  }
  body main .cont2 .container .logo1 h5 {
    font-size: 0.8rem;
  }
  body main .cont2 .container .logo1 img {
    width: 15%;
  }
  body main .logo2 {
    width: 100%;
  }
  body main .logo2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .logo2 .container .card img {
    width: 20%;
  }
  body main .logo2 .container .card p {
    font-size: 0.8rem;
  }
  body main .logo2 .container .card p:first-of-type {
    font-size: 1rem;
  }
}

@media (max-width: 767.98px) {
  body header .cont .container .tcar {
    text-align: center;
  }
  body header .cont .container .car1 {
    width: 100%;
  }
  body main .logo2 {
    width: 100%;
  }
  body main .logo2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .logo2 .container .card img {
    width: 30%;
  }
  body main .logo2 .container .card p {
    font-size: 1rem;
  }
  body main .logo2 .container .card p:first-of-type {
    font-size: 1.5rem;
  }
}

@media (max-width: 991.98px) {
  body main .logo2 {
    width: 100%;
  }
  body main .logo2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .logo2 .container .card img {
    width: 30%;
  }
  body main .logo2 .container .card p {
    font-size: 1rem;
  }
  body main .logo2 .container .card p:first-of-type {
    font-size: 1.5rem;
  }
}

@media (max-width: 1199.98px) {
  body main .logo2 {
    width: 100%;
  }
  body main .logo2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .logo2 .container .card img {
    width: 30%;
  }
  body main .logo2 .container .card p {
    font-size: 1rem;
  }
  body main .logo2 .container .card p:first-of-type {
    font-size: 1.5rem;
  }
}

.last-div .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-div .img img {
  margin-top: 3rem;
  width: 60px;
}

.last-div .img h2 {
  margin: 1rem 0px;
}

.last-div .img p {
  font-size: small;
  width: 50rem;
}

.last-div .last {
  margin: 0;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5rem;
}

.last-div .last .right .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.last-div .last .right .card img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  margin-left: 90px;
}

footer #foot {
  background-color: black;
}

footer #foot .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #foot .head h1 {
  color: #fff;
}

footer #foot .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #foot .middle .form-inline .form-group .form-control-plaintext {
  background-color: grey;
}

footer .social {
  background-color: grey;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social i {
  width: 35px;
  margin-top: 1rem;
}

@media screen and (max-width: 576px) {
  .last-div {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last-div .img {
    width: 80%;
  }
  .last-div .img p {
    width: 100% !important;
    text-align: center;
    color: red;
  }
  #foot .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .last-div {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last-div .img {
    width: 80%;
  }
  .last-div .img p {
    width: 100% !important;
    text-align: center;
    color: red;
  }
  #foot .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .last-div {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last-div .img {
    width: 80%;
  }
  .last-div .img p {
    width: 100% !important;
    text-align: center;
    color: red;
  }
  #foot .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .last-div {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last-div .img {
    width: 80%;
  }
  .last-div .img p {
    width: 100% !important;
    text-align: center;
    color: red;
  }
  #foot .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */