* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body { 
  header {
    background-color: #2C2D2D;
    height: 600px;

    .cont {
        display: flex;
        align-items: center;
        height: 100%;

        .container {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-between;


            .tcar {
                h1 {
                    color: white;
                    font-weight: bold;
                }

                h3 {
                    color: #FBB034;
                    margin-top: 10px;
                }

                h5 {
                    color: #626467;
                    margin-top: 10px;
                    margin-bottom: 30px;
                }

                button {
                    color: white;
                }
            }

            .car1 {
                width: 40%;

                img {
                    width: 80%;
                }
            }
        }

    }


}

  main {
    .cont2 {
      background-color: #F3F3F3;

      .container {
          .logo1 {
              display: flex;
              justify-content: space-between;
              padding: 30px 0px;
              color: #807A7A;

              img {
                  width: 10%;
              }
          }
      }

  }

  .logo2 {
      background-color: #F3F3F3;
      height: auto;
      margin-top: 2rem;
      padding: 30px 0px;


      .container {
          height: 100%;
          display: flex;

          justify-content: space-around;
          align-items: center;

          .card {
              border: none;
              text-align: center;
              background-color: #F3F3F3;

              img {
                  width: 30%;
                  margin-left: 6rem;
                  display: flex;
                  align-items: center;

              }

              p {
                  &:first-of-type {
                      font-size: 2rem;
                      font-weight: bold;
                  }
              }
          }

      }
  }
}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
body {
  header {
      .cont {
          .container {
              .tcar {
                  text-align: center;
              }

              .car1 {
                  width: 100%;
              }
          }
      }


  }

  main {
      .cont2 {
          .container {
              .logo1 {
                  h4 {
                      font-size: 1rem;
                  }

                  h5 {
                      font-size: 0.8rem;
                  }

                  img {
                      width: 15%;
                  }
              }
          }
      }

      .logo2 {
          width: 100%;

          .container {
              display: flex;
              flex-wrap: wrap;

              .card {

                  img {
                      width: 20%;
                  }

                  p {
                      font-size: 0.8rem;

                      &:first-of-type {
                          font-size: 1rem;
                      }
                  }
              }
          }
      }
  
    }
}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
body {
  header {
      .cont {
          .container {
              .tcar {
                  text-align: center;
              }

              .car1 {
                  width: 100%;
              }
          }
      }
  }

  main {
      .logo2 {
          width: 100%;

          .container {
              display: flex;
              flex-wrap: wrap;

              .card {

                  img {
                      width: 30%;
                  }

                  p {
                      font-size: 1rem;

                      &:first-of-type {
                          font-size: 1.5rem;
                      }
                  }
              }
          }
      }
  }
}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
body {

  main {
      .logo2 {
          width: 100%;

          .container {
              display: flex;
              flex-wrap: wrap;

              .card {

                  img {
                      width: 30%;
                  }

                  p {
                      font-size: 1rem;

                      &:first-of-type {
                          font-size: 1.5rem;
                      }
                  }
              }
          }
      }
  }
}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
body {

  main {
      .logo2 {
          width: 100%;

          .container {
              display: flex;
              flex-wrap: wrap;

              .card {

                  img {
                      width: 30%;
                  }

                  p {
                      font-size: 1rem;

                      &:first-of-type {
                          font-size: 1.5rem;
                      }
                  }
              }
          }
      }
  }
}
}
.top-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  background-color: #f3f3f3;
  height: 110px;
  color: black;
  opacity: 0.7;

  .left-div {
    font-size: 20px;
    margin-left: 6em;
    margin-top: 10px;
    @include mobile{
        margin-left: 0;
        font-size: inherit;
    }
  }

  .right-div {
    width: 60%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    h1{
        @include mobile{
            font-size: inherit;
        }
    }
    @include mobile{
        flex-wrap: wrap;
    }
   
  }
}
.middle-div{
    width: 50%;
    margin-left: 7em;
    margin-top: 2em;
    @include mobile{
        width: 85%;
        margin-left: 1em;
    }
    img{
        width: 60px;
    }

    h1 {
        margin-top: 10px;
        font-size: 30px;
    }
}
.main-div{ 
    display: flex;
    justify-content: center;
    .card-deck {
        width: 86%;
        margin-top: 3em;
       .card{
        border: none;

        .card-body {
            .speed {
                color: black;
                opacity: 0.7;
                font-size: 15px;
            }
        }

        .card-text{
            font-size: 15px;
        }
       }
        .btn{
            border: none;
        }
    }
}
    .last-div {
      .img {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin-top: 3rem;
          width: 60px;
        }

        h2 {
          margin: 1rem 0px;
        }

        p {
          font-size: small;

          width: 50rem;
        }
      }

      .last {
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
        margin-top: 5rem;
        .right {
          .card {
            display: flex;
            flex-direction: column;
            border: none;
            img {
              justify-content: center;
              width: 60px;
              margin-left: 90px;
            }
          }
        }
      }
    }
  

  footer {
    #foot {
      background-color: black;

      .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          color: #fff;
        }
      }
      .middle {
        display: flex;
        justify-content: center;
        .form-inline {
          .form-group {
            .form-control-plaintext {
              background-color: grey;
            }
          }
        }
      }
    }
    .social {
      background-color: grey;
      height: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: center;

      i {
        width: 35px;
        margin-top: 1rem;
      }
    }
  }


// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
  .last-div {
    width: 100%;

    align-items: center;

    display: flex;
    flex-direction: column;
    .img {
      width: 80%;

      p {
        width: 100% !important;
        text-align: center;
        color: red;
      }
    }
  }
  #foot {
    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (max-width: 768px) {
  .last-div {
    width: 100%;

    align-items: center;

    display: flex;
    flex-direction: column;
    .img {
      width: 80%;

      p {
        width: 100% !important;
        text-align: center;
        color: red;
      }
    }
  }
  #foot {
    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media screen and (max-width: 992px) {
  .last-div {
    width: 100%;

    align-items: center;

    display: flex;
    flex-direction: column;
    .img {
      width: 80%;

      p {
        width: 100% !important;
        text-align: center;
        color: red;
      }
    }
  }
  #foot {
    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (max-width: 1200px) {
  .last-div {
    width: 100%;

    align-items: center;

    display: flex;
    flex-direction: column;
    .img {
      width: 80%;

      p {
        width: 100% !important;
        text-align: center;
        color: red;
      }
    }
  }
  #foot {
    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
      }
    }
  }
}
